.about{
    padding-top: 100px;
    margin-top: 150px;
}
body{
    background-image: url("./assets/86d2ac22db7bc7a7bc51641a5ca35613.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inpts{
    justify-content: space-around;

} 

.na{
    margin: 7px;
}