.about{
    padding-top: 100px;
    margin-top: 150px;
}
body{
    background-image: url("./assets/0b9c820c5834e4036783ac3c74ddc512.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inpts{
    justify-content: space-around;

} 

.name{
    margin: 7px;
}